{
  "printWidth": 120,
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "avoid"
}
