@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #131517;
    --foreground: #0A0A0A;
    --card: #FFFFFF;
    --card-foreground: #0A0A0A;
    --popover: #FFFFFF;
    --popover-foreground: #0A0A0A;

    --primary: #E2FF00;
    --primary-foreground: #1A1A1A;
    --secondary: #F5F5F5;
    --secondary-foreground: #191919;
    --muted: #F5F5F5;
    --muted-foreground: #737373;
    --accent: #F5F5F5;
    --accent-foreground: #191919;
    --destructive: #E63946;
    --destructive-foreground: #FAFAFA;
    --border: #E4E4E4;
    --input: #E4E4E4;
    --ring: #0A0A0A;

    --chart-1: #E76F51;
    --chart-2: #1E847F;
    --chart-3: #264653;
    --chart-4: #E9C46A;
    --chart-5: #F4A261;

    --radius: 0.5rem;
  }

  /*.dark {*/
  /*  --background: #0a0a0a;*/
  /*  --foreground: #fafafa;*/
  /*  --card: #0a0a0a;*/
  /*  --card-foreground: #fafafa;*/
  /*  --popover: #0a0a0a;*/
  /*  --popover-foreground: #fafafa;*/
  /*  --primary: #a3ff00;*/
  /*  --primary-foreground: #1A1A1A;*/
  /*  --secondary: #262626;*/
  /*  --secondary-foreground: #fafafa;*/
  /*  --muted: #262626;*/
  /*  --muted-foreground: #a2a2a2;*/
  /*  --accent: #262626;*/
  /*  --accent-foreground: #fafafa;*/
  /*  --destructive: #991f1f;*/
  /*  --destructive-foreground: #fafafa;*/
  /*  --border: #262626;*/
  /*  --input: #262626;*/
  /*  --ring: #d4d4d4;*/
  /*  --chart-1: #3366ff;*/
  /*  --chart-2: #33cc99;*/
  /*  --chart-3: #ffaa33;*/
  /*  --chart-4: #9966cc;*/
  /*  --chart-5: #ff3366;*/
  /*}*/
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #000000;
  }
  main{
    position: relative;
    width: 100%;
    max-width: 420px;
    min-height: 100vh;
    background-color: var(--background);
    margin: 0 auto;
    color: #FFFFFF;
  }
}
/* 1024px 이상에서 스타일 적용 */
@media screen and (min-width: 1024px) {
  main {
    margin: 0 0 0 calc(50vw + 45px);
  }
}
